/*Fonts*/

@font-face {
    font-family: Urbanist;
    font-weight: 100;
    src: url(../media/fonts/Urbanist/Urbanist-Thin.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 200;
    src: url(../media/fonts/Urbanist/Urbanist-ExtraLight.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 300;
    src: url(../media/fonts/Urbanist/Urbanist-Light.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 400;
    src: url(../media/fonts/Urbanist/Urbanist-Regular.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 500;
    src: url(../media/fonts/Urbanist/Urbanist-Medium.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 600;
    src: url(../media/fonts/Urbanist/Urbanist-SemiBold.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 700;
    src: url(../media/fonts/Urbanist/Urbanist-Bold.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 800;
    src: url(../media/fonts/Urbanist/Urbanist-ExtraBold.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 900;
    src: url(../media/fonts/Urbanist/Urbanist-Black.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 100;
    font-style: italic;
    src: url(../media/fonts/Urbanist/Urbanist-ThinItalic.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 200;
    font-style: italic;
    src: url(../media/fonts/Urbanist/Urbanist-ExtraLightItalic.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 300;
    font-style: italic;
    src: url(../media/fonts/Urbanist/Urbanist-LightItalic.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 400;
    font-style: italic;
    src: url(../media/fonts/Urbanist/Urbanist-Italic.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 500;
    font-style: italic;
    src: url(../media/fonts/Urbanist/Urbanist-MediumItalic.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 600;
    font-style: italic;
    src: url(../media/fonts/Urbanist/Urbanist-SemiBoldItalic.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 700;
    font-style: italic;
    src: url(../media/fonts/Urbanist/Urbanist-BoldItalic.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 800;
    font-style: italic;
    src: url(../media/fonts/Urbanist/Urbanist-ExtraBoldItalic.otf) format("opentype");
}

@font-face {
    font-family: Urbanist;
    font-weight: 900;
    font-style: italic;
    src: url(../media/fonts/Urbanist/Urbanist-BlackItalic.otf) format("opentype");
}


h1 {
    color: rgba(20, 20, 20, 1);
    font-family: Urbanist;
    font-weight: 900;
}

h2 {
    color: rgba(20, 20, 20, 1);
    font-family: Urbanist;
    font-weight: 800;
}

h3 {
    color: rgba(20, 20, 20, 1);
    font-family: Urbanist;
    font-weight: 700;
}

h4 {
    color: rgba(20, 20, 20, 1);
    font-family: Urbanist;
    font-weight: 600;
}

h5 {
    color: rgba(20, 20, 20, 1);
    font-family: Urbanist;
    font-weight: 500;
}

h6 {
    color: rgba(20, 20, 20, 1);
    font-family: Urbanist;
    font-weight: 400;
}

p {
    color: rgba(250, 250, 250, 1);
    font-family: Urbanist;
    font-weight: 400;
}

mark {
    background-color: rgba(250, 250, 250, 1);
    border-radius: 0.25em;
}


body {
    margin: 0;

    background-color: rgba(20, 20, 20, 1);
    background-image: url(../media/images/background-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#navCont {
    width: 100%;
    float: left;

    position: sticky;
    z-index: 0;
    top: 0;
    
    background-color: rgba(250, 250, 250, 1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
}

#navTitle {
    margin: 1%;
    margin-left: 10%;

    color: rgba(70, 115, 60, 1);
}


#main {
    width: 80%;
    margin-left: 10%;

    padding: 1.25vw;

    border-radius: 0.75em;

    background-color: rgba(0, 0, 0, 0.75);
}


.mainSection {
    width: 100%;
    padding-top: 1.25vw;

    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.mainSectionLowerhalf {
    width: 100%;
    margin-bottom: -1.25vw;
    margin-left: -1.25vw;

    padding: 1.25vw;

    background-color: rgba(250, 250, 250, 1);

    border-bottom-left-radius: 0.60em;
    border-bottom-right-radius: 0.60em;
}

.mainSectionLowerhalf h4 {
    margin: 0%;
    width: 100%;
}

.mainSectionSearch {
    width: 100%;
    padding: 1.25vw;

    background-color: rgb(90,115,60);
    background: linear-gradient(140deg, rgba(70,115,80,1) 20%, rgba(50,115,60,1) 80%, rgba(50,60,115,1) 100%);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0, 1); 
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.8);
    border: 1px solid rgba(250, 250, 250, 1);

    border-radius: 0.75em;
}

.mainSectionArticle {
    width: 100%;
    padding: 1.25vw;

    background-color: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
    border: 1px solid rgba(20, 20, 20, 1);

    border-radius: 0.75em;
}


#searchCont {
    width: 100%;
    display: flex;
}

#searchField {
    width: 100%;
    height: 3em;
    margin: 1vw;
    margin-left: 0%;
    margin-right: 0.5vw;
    padding: 0.5em;

    background-color: rgba(250, 250, 250, 1);
    color: rgba(80, 80, 80, 1);
    font-family: Urbanist;
    font-weight: 400;
    font-style: italic;

    border: 1px solid;
    border-color: rgba(20, 20, 20, 1);
    border-radius: 1em;

    transition: 0.5s;
}

#searchField:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);

    transition: 0.5s;
}

#searchField:focus {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);

    outline: none;

    transition: 0.5s;
}

#searchButton {
    width: auto;
    height: 3em;
    margin: 1vw;
    margin-left: 0.5vw;
    margin-right: 0%;
    padding: 0.5em;

    background-color: rgba(250, 250, 250, 1);
    color: rgba(70, 115, 60, 1);
    font-family: Urbanist;
    font-weight: 600;

    border: 1px solid;
    border-color: rgba(20, 20, 20, 1);
    border-radius: 1em;

    transition: 0.5s;
}

#searchButton:hover {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.8);

    transition: 0.5s;
}